.footer {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-color:black;
    color: white;
    padding: 20px;
    width: 100%;
}

.footer a {
    color: rgb(120, 123, 212); 
    text-decoration: none; 
    padding: 0 10px; 
}

.footer a:hover {
    text-decoration: underline; 
}